body
{
    background: url("../img/back.jpg") no-repeat fixed;
    background-size: 100%, 100% ;
    text-align: center;
    z-index:-1;
}
body::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width:100%;
    background: rgba(0,0,0,.5) no-repeat ;
}


.content {
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    width:77.7%;
}
.logo
{
    width:100px;
    border-radius: 100px;
}
p
{
    font-size:20px;
}

.slider{position:relative;overflow:hidden;
    margin-left:auto;margin-right:auto}
.slider__wrapper{position:relative;overflow:hidden;background-color:#eee}
.slider__items{
    display:flex;
    transition:transform .5s ease;

}
.transition-none{transition:none}
.slider__item{
    flex:0 0 100%;    
    width: 100%;
    height: 700px;
    position:relative}
.slider__control{position:absolute;top:50%;width:40px;height:50px;transform:translateY(-50%);display:none;align-items:center;justify-content:center;color:#fff;background:rgba(0,0,0,.3);opacity:.5;user-select:none}
.slider__control_show{display:flex}
.slider__control:focus,.slider__control:hover{color:#fff;text-decoration:none;opacity:.7}
.slider__control_prev{left:0}
.slider__control_next{right:0}
.slider__control::before{content:'';display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}
.slider__control_prev::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}
.slider__control_next::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}
.slider__indicators{position:absolute;left:0;right:0;bottom:10px;display:flex;justify-content:center;padding-left:0;margin:0 15%;list-style:none;user-select:none}
.slider__indicator{flex:0 1 auto;width:30px;height:4px;margin-right:3px;margin-left:3px;background-color:rgba(255,255,255,.5);background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;cursor:pointer}
.slider__indicator_active{background-color:#fff}
.w
{
    font-weight: 600;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.demo label::before
{
    content:'+';
    font-size:30px;
    padding-right: 10px;
    color: rgba(255,255,255,.6);
    width:20px;
    transition:1s;
}
.demo
{
    font-size: 18px;
}
.demo label
{
    margin-top: 20px;
    font-size: 23px;
}
label:active + ::before
{
    transition: 1s;
    transform: rotate(120deg);
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст .demo label */
.hide + label {
    cursor: pointer;
    display: inline-block; 
}
.hide:checked + label::before
{
    content:"‒";
}
/* вид текста .demo label при активном переключателе */
.hide:checked + label {
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    padding: 10px; 
}

/* demo контейнер */


.demo div div
{
    background: rgba(0,0,0,0.5);
}
.demo div div a
{
    color: rgb(255, 211, 211);
}

a
{
    color: #fff;
    border:none;
}
.button div
{
    border-radius: 5px;
    padding-top: 10px;
    font-size:27px;
    margin-top:15px;
    height:40px;
}
.button__whatsapp
{
    background-color: rgba(85, 205, 108, 0.7);
}
.button__email
{
    background-color: rgba(0, 255, 255, 0.7);
}
.button__whatsapp:hover
{
    background-color: rgba(85, 205, 108,1);
}
.button__email:hover
{
    background-color: rgba(0, 255, 255,1);
}
.button__instagram
{
    background-image: linear-gradient(220deg, rgba(255,154,65,0.7),rgba(253,52,116,0.8),rgba(166,59,170,1));
}
.button__instagram:hover
{
    background-image: linear-gradient(220deg, rgba(255,154,65,1),rgba(253,52,116,1),rgba(166,59,170,1));
}
a, a:visited
{
    color:#fff;
    text-decoration: none;
}
form
{
    font-size: 20px;
    margin-top: 20px;
    text-align:left;
}
form input
{
    background-color: #fff;
}
textarea
{
    width:100%;
}
input::-ms-clear
{
    display: none;
}
:focus, :active 
{
outline: none;
}
input
{
    height:40px;
    width:100%;
}

input:focus
{
    font-size:25px;

}
textarea:focus
{
    font-size:25px;
}
button
{
    text-align:center;
    display: inline-block;
    width:100%;
    background:linear-gradient(200deg,rgba(0 14 255 / 72%),rgb(88 94 208 / 82%));
    border:none;
    border-radius:10px;
    font-size:25px;
    height:50px;
}
.b
{
    text-align: center;
}
ul li
{
    list-style:none;
}
button:hover
{
    background:linear-gradient(200deg,rgba(0 14 255 / 100%),rgb(88 94 208 / 100%));
}

@media (max-width: 844px)
{
 body
 {
     background-size:240%, 180%;
 }
}
@media (max-width:768px)
{
    .slider__item
    {
        height:500px;}}
@media (max-width: 437px){.slider__item{height: 300px;}}
@media (max-width: 346px){body{background-size:350%,100%;}}